* {
  padding: 0;
  margin: 0;
}

.wrapper {
  background: url(../img/wrapper.png) no-repeat fixed center;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto 5px;
}

.content {
  width: 1160px;
  margin: 0 auto;
}

.content-main {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 130px;
}

.logo-text {
  position: absolute;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  left: 15px;
  top: 7px;
}

.header-the {
  color: #ffffff;
  font-weight: 400;
  font-size: 32px;
}

.header-ham {
  color: #18cfab;
  font-weight: 600;
  font-size: 32px;
}

.header-info {
  background: rgba(94, 93, 88, 0.6);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.logo-link-text {
  position: relative;
  padding-right: 6px;
}

.header-ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
}

.header-list {
  width: 100px;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}

.link:hover {
  color: #18cfab;
  position: absolute;
  top: 0px;
  padding-bottom: 49px;
  border-bottom: 1px solid;
}

.link-serch{
    position: absolute;
    top: 0px;
}
.link-serch:hover{ 
  color: #18cfab;
  position: absolute;
  top: 0px;
  padding-bottom: 45px;
  border-bottom: 1px solid;
  fill: #18cfab;
}

.link-serch svg path:hover{
  fill: #18cfab;
}

.title {
  padding-top: 264px;
  padding-bottom: 22px;
}

.title-ham-eat {
  color: #ffffff;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
}

.title-wordpress {
  color: #18cfab;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
}

.creative-text {
  font-weight: 700;
  font-size: 78px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.just-buy {
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
}

.buttons {
  text-align: center;
  padding-bottom: 243px;
}

.explore {
  background: #00cbf6;
  width: 169px;
  height: 63px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  border-width: 0;
  border-radius: 5px;
  margin-right: 26px;
  border-top-width: 4px;
  border-top-color: #ffffff;
  cursor: pointer;
}

.purchase {
  background: #00cbf6;
  width: 168px;
  height: 63px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  border-width: 0;
  border-radius: 5px;
  border-top-width: 4px;
  border-top-color: #ffffff;
  cursor: pointer;
}

.purchase:hover {
  background: #18cfab;
}

.link-btn {
  text-decoration: none;
  color: #ffffff;
}

.explore:hover {
  background: #18cfab;
}

.choice-possibilities {
  display: flex;
  margin: 0;
  padding: 0;
}

.choice {
  list-style-type: none;
  width: 25%;
  height: 377px;
  background: #1c2a33;
  font-weight: 700;
  font-size: 20px;
  color: #18cfab;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.bt {
  list-style-type: none;
  width: 25%;
  height: 377px;
  background: #18cfab;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.choice-of-action {
  margin-bottom: 48px;
}

.link-choice {
  text-decoration: none;
  color: #18cfab;
}

.link-choicewhite {
  color: #ffffff;
  text-decoration: none;
}

.section-title {
  font-weight: 400;
  font-size: 36px;
  color: #4e4e4e;
  text-align: center;
  position: relative;
  padding-bottom: 101px;
  padding-top: 83px;
  font-family: 'Montserrat';
}

.section-title::before {
  position: absolute;
  content: " ";
  height: 1px;
  background-color: #18cfab;
  width: 76px;
  bottom: 72px;
  right: 48%;
}

.section-title::after {
  position: absolute;
  content: " ";
  height: 1px;
  background-color: #18cfab;
  width: 78px;
  bottom: 68px;
  left: 48%;
}

.all-designs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 28px;
}

.types-of-designs {
  cursor: pointer;
  background: #f8fcfe;
  list-style-type: none;
  font-weight: 400;
  font-size: 15px;
  padding: 31px;
  color: #717171;
  width: 133px;
  text-align: center;
  font-family: 'Montserrat';
}

.types-of-designs.active {
  color: #ffffff;
  background: #18cfab;
  position: relative;
}

.types-of-designs.active:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 12px;
  background-color: #18cfab;
  display: inline-block;
  top: 90%;
  left: 90px;
  transform: rotate(45deg);
}

.foto-lapton {
  margin-right: 15px;
}

.info-serv {
  display: flex;
  margin-bottom: 90px;
  height: 144px;
}

.text-services {
  font-weight: 300;
  font-size: 13.7px;
  color: #777777;
  line-height: 24px;
  display: none;
  font-family: 'Montserrat';
}

.text-services.active {
  display: block;
}

.fotos-services {
  width: 192px;
  height: 139px;
  padding-right: 15px;
}

.result {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../img/section-2.jpg) no-repeat center;
  background-size: cover;
  /* filter: brightness(0.3); */
  /* background-color: rgba(0,0,0,0.2);  */
}

.result-text {
  font-weight: 700;
  font-size: 40px;
  color: #18cfab;
  text-transform: uppercase;
  padding-top: 127px;
  padding-bottom: 12px;
}

.human-qualities {
  font-weight: 400;
  font-size: 16px;
  color: #d8d8d8;
  padding-bottom: 62px;
  padding-top: 26px;
}

.btn-block {
  padding-bottom: 96px;
}

.btn-purchase {
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  background: #18cfab;
  width: 168px;
  height: 63px;
  border-radius: 5px;
  border-top-color: #ffffff;
  border-width: 0;
  border-top-width: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-purchase-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-purchase:hover {
  background:#18CFAB;;
}

.center {
  text-align: center;
}

.amazing-work-blocks > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #f8fcfe;
}

.images {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1185px;
  cursor: pointer;
  text-align: left;
}

.portfolio-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.amazing-text-content {
  padding-top: 72px;
  color: #4e4e4e;
  font-size: 36px;
  padding-bottom: 101px;
  position: relative;
}

.amazing-text-content::after {
  content: "";
  display: inline-block;
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: 58px;
  right: 47%;
}

.amazing-text-content::before {
  content: "";
  display: inline-block;
  width: 78px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: 62px;
  right: 49%;
}

.amazing-ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-bottom: 70px;
}

.amazing-ul li {
/* width: 189px; */
line-height: 58px;
  /* border: 1px solid #f4f7f8; */
  position: relative;
  color: gray;
  padding-right: 20px;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.0001);
border: 1px solid #DADADA

}

.portfolio-hover {
  /*display: none;*/
  opacity: 0;
  position: absolute;
  width: 290px;
  height: 207px;
  padding: 46px 0 52px 0;
  border-top: 3px solid #18cfab;
  text-align: center;
  box-sizing: border-box;
  background-color: #f8fcfe;
  transition: opacity 0.4s;
  /*transform: translateY(-100%);*/
}

.portfolio-links a {
  display: inline-block;
  margin: 0 2.5px;
  width: 40px;
  height: 40px;
  border: 1px solid #18cfab;
  border-radius: 50%;
  line-height: 40px;
  color: #18cfab;
}

.portfolio-links a:hover {
  background-color: #18cfab;
  color: #fff;
}

.portfolio-info p:first-child {
  margin-bottom: 13px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #18cfab;
}

.portfolio-info p:nth-child(2) {
  text-transform: capitalize;
  font-size: 12px;
  color: #8a8a8a;
}

.amazing-button {
  padding-top: 70px;
  padding-bottom: 99px;
}

.fa-plus {
  padding-right: 10px;
}

.images:hover img {
  background: #00cbf6;
}

.images-hover {
  background-color: white;
  width: 286px;
  height: 208px;
}

.amazing-blocks {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 1176px;
}

.amazing-img-size {
  height: 204px;
  width: 284px;
}

.tabs-service:hover {
  color: #18CFAB;
  border-color: #18CFAB;
  cursor: pointer;
}

.container {
  position: absolute;
  width: 100px;
  height: 100px;
  /*top: 0;*/
  /*bottom: 0;*/
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  padding-bottom: 150px;
}

.item {
  width: 50px;
  height: 50px;
  position: absolute;
}

.item-1 {
  background-color: #fa5667;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 1.8s cubic-bezier(0.3, 0.01, 0.4, 1) infinite;
}

.item-2 {
  background-color: #7a45e5;
  top: 0;
  right: 0;
  animation: item-2_move 1.8s cubic-bezier(0.3, 0.01, 0.4, 1) infinite;
}

.item-3 {
  background-color: #1b91f7;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 1.8s cubic-bezier(0.3, 0.01, 0.4, 1) infinite;
}

.item-4 {
  background-color: #fac24c;
  bottom: 0;
  left: 0;
  animation: item-4_move 1.8s cubic-bezier(0.3, 0.01, 0.4, 1) infinite;
}

@keyframes item-1_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, 50px);
  }
  50% {
    transform: translate(50px, 50px);
  }
  75% {
    transform: translate(50px, 0);
  }
}

@keyframes item-2_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-50px, 0);
  }
  50% {
    transform: translate(-50px, 50px);
  }
  75% {
    transform: translate(0, 50px);
  }
}

@keyframes item-3_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -50px);
  }
  50% {
    transform: translate(-50px, -50px);
  }
  75% {
    transform: translate(-50px, 0);
  }
}

@keyframes item-4_move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, 0);
  }
  50% {
    transform: translate(50px, -50px);
  }
  75% {
    transform: translate(0, -50px);
  }
}

.amazing-img1 {
  background-image: url("../img/Our Amazing/1.png");
}

.amazing-img2 {
  background-image: url("../img/Our Amazing/2.png");
}

.amazing-img3 {
  background-image: url("../img/Our Amazing/3.png");
}

.amazing-img4 {
  background-image: url("../img/Our Amazing/4.png");
}

.amazing-img5 {
  background-image: url("../img/Our Amazing/5.png");
}

.amazing-img6 {
  background-image: url("../img/Our Amazing/6.png");
}

.amazing-img7 {
  background-image: url("../img/Our Amazing/7.png");
}

.amazing-img8 {
  background-image: url("../img/Our Amazing/8.png");
}

.amazing-img9 {
  background-image: url("../img/Our Amazing/9.png");
}

.amazing-img10 {
  background-image: url("../img/Our Amazing/10.png");
}

.amazing-img11 {
  background-image: url("../img/Our Amazing/11.png");
}

.amazing-img12 {
  background-image: url("../img/Our Amazing/10.png");
}

.hover-february {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 68px;
  background: #203e38;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
}

.all-news:hover .hover-february {
  background-color: #18cfab;
}

.all-foto-breaking-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 86px;
}

.all-news {
  list-style-type: none;
  position: relative;
}

.foto-breaking {
  width: 263px;
  height: 208px;
  display: flex;
  cursor: pointer;
}

.blog-post {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #717171;
}

.all-news:hover .blog-post {
  color: #18cfab;
}

.admin {
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  margin-bottom: 44px;
}

.wrapper-content {
  width: 1160px;
  margin: 0 auto;
}

.footer-blocks {
  background-color: #22353f;
  text-align: center;
}

.footer-text {
  padding-top: 36px;
  padding-bottom: 35px;
  font-size: 14px;
  color: #aeaeae;
  margin-bottom: 8px;
}

.footer-colors-theHam {
  color: #18cfab;
  font-size: 14px;
}

.wrapper-people-say {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* background: url("../img/section-3.jpg") no-repeat center; */
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/section-3.jpg") no-repeat center;
  background-size: cover;
  /* background: linear-gradient rgba(0, 0, 0, 0.8), */
}

.wrapper-people-say-text {
  display: flex;
  justify-content: center;
  padding-top: 99px;
  padding-bottom: 104px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  position: relative;
  font-family: Montserrat;


}

.wrapper-people-say-text::after {
  content: "";
  display: inline-block;
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: 70px;
  right: 45%;
}

.wrapper-people-say-text::before {
  content: "";
  display: inline-block;
  width: 76px;
  height: 1px;
  background-color: #18cfab;
  position: absolute;
  bottom: 65px;
  right: 41%;
  
}

.quotes {
  background: url("../img/Combined shape 2474.png");
  height: 31px;
  width: 45px;
  margin: 0 auto;
}

.content-people {
  font-size: 16px;
  width: 1015px;
  list-style: none;
}

.img-people-footers {
  padding-top: 68px;
  padding-bottom: 118px;
}

.firsName-people {
  padding-top: 43px;
  color: #18cfab;
}

.position-people {
  padding-bottom: 37px;
}

.img-people {
  background: url("../img/people3-1.png") no-repeat center;
  border-radius: 50%;
  width: 171px;
  height: 145px;
  margin: 0 auto;
 
}

.selected div {
  padding-bottom: 44px;
  padding-top: 36px;
  width: 1136px;
  /* min-height: 150px; */
}

.fotoo-text {
  font-weight: 300;
  font-size: 16px;
  color: #BBBBBB;
  display: flex;
align-items: center;
text-align: center;
}
.selected img {
  border-radius: 50%;
}

.img-people-footers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
}

.buttom-people-left {
  border: 1px solid #bbbbbb;
  width: 31px;
  height: 31px;
  cursor: pointer;
}

.list {
  padding-top: 51px;
  display: flex;
  justify-content: center;
  padding-bottom: 105px;
  align-items: center;
}

.buttom-people-left:after {
  content: "\003C";
  color: #b8b8b8;
  font-size: 28px;
}

.buttom-people-right {
  border: 1px solid #bbbbbb;
  width: 31px;
  height: 31px;
  margin-left: 37px;
  cursor: pointer;
}

.buttom-people-right:hover {
  background-color: #18CFAB;;
}

.buttom-people-left:hover {
  background-color: #18CFAB;;
}

.buttom-people-right:after {
  content: "\003E";
  color: #b8b8b8;
  font-size: 28px;
}

.selected img {
  border-radius: 50%;
  background-color: rgba(31, 218, 181, 0.2);
  outline: none;
  height: 142px;
  /* background:#1FDAB5; */
  border: 10px solid #1FDAB5;
  border-color: transparent;
  
}

.img-foot {
  height: 59px;
  width: 60px;
  border-radius: 50%;
  margin-left: 37px;
  cursor: pointer;
  border: 4px solid #1FDAB5;
  background-color: rgba(31, 218, 181, 0.2);
  border-color: transparent;
}
.portfolio-title{
  margin-top: 30px;
}